html, body {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.5em;
}

.btn {
  border: 0;
  padding: 0;
  margin: 0;
  height: 46px;
}

.btn-outline-secondary:hover {
  border: 0px;
  background-color: rgba(255, 255, 255, 0.2);
}

.modal {
  color: #1a1a1a;
}

.modal h5 {
  font-family: "Anton", sans-serif;
  font-size: 2em;
  font-weight: 700;
}

.card {
  margin: 10px 10px;
  background-color: inherit;
}

.card-container {
  perspective: 700px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

footer {
  font-size: 1.2em;
  margin: 3em;
}
